img
{
width:150px;
height: 100px;


}



body

{
background-color: crimson;

}

p
{
color:goldenrod;
font-family:Georgia, 'Times New Roman', Times, serif
font-weight: bold;
font-size: 14pt;
}